body {
  background-color: plum;
  font-family: "Times New Roman", Times, serif;
  color: aliceblue;
  font-weight: 500;
  letter-spacing: 3px;
}

/* App */
.app {
  max-width: 1400px;
  margin: 20px auto;
  padding: 40px;
  border: 1px solid rgba(0, 0, 0, 0.187);
  background-color: rgb(71, 151, 221);
  border-radius: 5px;
}
/* Form */
.form {
  display: flex;
  padding: 20px;
}
.input {
  flex: 1;
  border-radius: 6px;
  background-color: antiquewhite;
  border: none;
  font-size: 18px;
  text-indent: 10px;
}
.btn {
  width: 200px;
  padding: 15px;
  margin-left: 10px;
  border-radius: 6px;
  background-color: antiquewhite;
  border: none;
  font-size: 18px;
  color: grey;
}

.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  text-align: center;
}
/* City */
h1 {
  color: rgb(237, 185, 237);
  font-size: 50px;
}
h2 {
   font-size: 40px;
   color: rgb(210, 182, 236);
}
h3 {
  font-size: 30px;
}
/* Update, Condition, Humidity, Wind */
.left-column,
.right-column {
  padding-top: 100px;
}
